<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="36"
    android:versionName="1.6.1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.testemedia.mediacp2.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".proeja.Proeja"
            android:label="@string/proeja">
        </activity>

        <activity android:name=".proeja.Nota2cert"
            android:label="PROEJA - 2ª Cert.">
        </activity>
        <activity android:name=".proeja.ProejaAnual"
            android:label="PROEJA - Média Anual">
        </activity>
        <activity android:name=".proeja.ProejaFinal"
            android:label="PROEJA - Média Final" >
        </activity>
        <activity android:name=".proeja.ProejaPFV"
            android:label="PROEJA - PFV" >
        </activity>
        <activity android:name=".proeja.ProejaSobre"
            android:label="PROEJA - Ajuda" >
        </activity>
        <activity
            android:name=".CalcularMedias"
            android:label="@string/botaoMedias" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/info">
        </activity>
        <activity
            android:name=".boletim.Cadastrar"
            android:label="@string/cadastrar" >
        </activity>
        <activity
            android:name=".boletim.Boletim"
            android:label="@string/boletim" >
        </activity>
        <activity
            android:name=".boletim.Instrucoes"
            android:label="Como Utilizar" >
        </activity>
        <activity
            android:name=".boletim.EditarLista"
            android:label="Gerenciar Disciplinas" >
        </activity>
        <activity
            android:name=".boletim.EditarMateria"
            android:label="@string/editarMat">
        </activity>

        <activity
            android:name=".timetable.TimeTableActivity"
            android:label="@string/gradehoraria">

        </activity>

        <activity
            android:name=".timetable.AddTimetable">

        </activity>

        <activity
            android:name=".timetable.EditarTimetable">

        </activity>

        <activity
            android:name=".Calendario"
            android:label="Calendário" >
        </activity>
    </application>

</manifest>