<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testemedia.mediacp2"
    android:versionCode="31"
    android:versionName="1.5.2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.testemedia.mediacp2.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".proeja.Proeja"
            android:label="@string/proeja"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".proeja.Nota2cert"
            android:label="PROEJA - 2ª Cert."
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".proeja.ProejaAnual"
            android:label="PROEJA - Média Anual"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".proeja.ProejaFinal"
            android:label="PROEJA - Média Final"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".proeja.ProejaPFV"
            android:label="PROEJA - PFV"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".proeja.ProejaSobre"
            android:label="PROEJA - Ajuda"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalcularMedias"
            android:label="@string/botaoMedias"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boletim.Cadastrar"
            android:label="@string/cadastrar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boletim.Boletim"
            android:label="@string/boletim"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".boletim.Instrucoes"
            android:label="Como Utilizar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boletim.EditarLista"
            android:label="Gerenciar Disciplinas"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".boletim.EditarMateria"
            android:label="@string/editarMat"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".timetable.TimeTableActivity"
            android:screenOrientation="portrait"
            android:label="@string/gradehoraria">

        </activity>

        <activity
            android:name=".timetable.AddTimetable">

        </activity>

        <activity
            android:name=".timetable.EditarTimetable">

        </activity>

        <activity
            android:name=".Calendario"
            android:label="Calendário"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>